body{
    background: #b3b3b3
}

div {
    padding-left:30px;
}
#main-row{
    font-size: 30px;
    padding-bottom:10px;
}
h1{
    padding-left:30px;
    padding-top:15px;

}
#names{
    padding-left: 70px;
    padding-bottom: 20px;
}

#main-row *{
    float:left;
	background-color: #777;
    padding:10px .5%;
    padding-left: 2%;
	width:31%;
    color: white
}
.col-md-4 {
    float:left;
	background-color: #777;
    padding:10px .5%;
    padding-left:3%;
    margin-bottom:.3%;
	width:31%;
    color: white;
}

